body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
// fonts
// font-family: 'Bebas Neue', cursive;
// font-family: 'Bitter', serif;
// font-family: 'Nunito', sans-serif;
// font-family: 'Raleway', sans-serif;
// varibale
$white:#fff;
$black:#000;

.large-heading{
    font-size: 74px;
}
.medium-heading{
    font-size: 54px;
}
.divider{
    color:#5f6551;
}
.see-more{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius:24px;
    padding:0 25px;
    border:none;
    cursor:pointer;
    &:hover{
        opacity:0.7;
    }
}
header{
    ul.navbar-nav{
        flex:1;
        justify-content:space-between;
    }
}