body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
// fonts
// font-family: 'Bebas Neue', cursive;
// font-family: 'Bitter', serif;
// font-family: 'Nunito', sans-serif;
// font-family: 'Raleway', sans-serif;
// varibale
$white:#fff;
$black:#000;

.large-heading{
    font-size: 74px;
}
.cross{
    @media only screen and (max-width:575px){
        display: none !important;
    }
}
.medium-heading{
    font-size: 55px;
    @media only screen and (max-width:375px){
        font-size: 44px;
    }
}
.divider{
    background: #5f6551;
    height: 2px;
    width: 100%;
}
.cross-section{
    font-size: 35px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    color: $white;
    letter-spacing: 3px;
    position: relative;
    @media only screen and (max-width:380px){
        font-size: 30px;
    }
}
.section-medium-title{
    font-size: 28px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 1.2;
}
.section-large-title{
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: 1.2;
    font-size: 70px;
    @media only screen and (max-width:480px){
        font-size: 56px;
    }
    @media only screen and (max-width:380px){
        font-size: 42px;
    }
}
.see-more{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius:24px;
    padding:0 25px;
    border:none;
    cursor:pointer;
    &:hover{
        opacity:0.7;
    }
}
header{
    .logo{
        max-width: 216px;
        margin-right: 36px;
        @media only screen and (max-width:374px){
            max-width: 200px;
            margin-right: 0;
        }
    }
    @media only screen and (max-width:991px){
        .navbar-collapse{
            background: rgb(255, 255, 255);
            padding: 10px;
            z-index: 1;
            .nav-link{
                display: inline-block;
            }
        }
    }
    ul{
        li{
            margin-right: 50px;
            a{
                font-family: 'Nunito';
                font-weight: 300;
                color: #050505;
                &.active{
                    font-weight: 700;
                    border-bottom: 2px solid #050505;
                }
            }
        }
    }
    form{
        position: relative;
        input[type="search"]{
            border-radius: 24px;
            border: none;
            box-shadow: inset 0px 2px 4px #868585;
        }
        button.btn-search{
            border: none;
            right: 0.5rem;
            top:1px;
            position: absolute;
            &:focus+.btn, &:focus{
                box-shadow: none;
            }
        }
    }
}
// banner section start
.banner-section{
    height: 100vh;
    .banner-text-wrapper{
        padding-top: 115px;
    }
    .banner-text-container{
        max-width: 50%;
        @media only screen and (max-width:991px){
            max-width: 49%;
        }
        @media only screen and (max-width:480px){
            max-width: 68%;
        }
        @media only screen and (max-width:360px){
            max-width: 80%;
        }
    }
    .banner-heading{
        @extend .medium-heading;
        font-family: 'Bebas Neue', cursive;
        font-weight: 400;
        line-height: 1;
        margin-bottom: 15px;
        
    }
    .banner-subheading{
        @extend .section-medium-title;
        color: #040404;
        margin-bottom: 0;
        position: relative;
        &::before{
            position: absolute;
            content: '';
            background-image: url('../images/Shape.png');
            height: 26px;
            width: 26px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            left: -12px;
            bottom: -5px;
        }
    }
}
// banner section end
// saepe-section start
.saepe-section{
    background-color: #fbfbf5;
    padding: 78px 0;
    .saepe-section-heading{
        font-size: 42px;
        font-family: 'Bebas Neue', cursive;
        font-weight: 400;
        color: #070707;
        letter-spacing: 3px;
        word-spacing: 3px;
        max-width: 38%;
        position: relative;
        line-height: 1.2;
        &::after{
            position: absolute;
            content: '';
            width: 100px;
            height: 8px;
            background-color: #070707;
            bottom: -15px;
            left: 0;
        }
        @media only screen and (max-width:991px){
            max-width: 54%;
        }
        @media only screen and (max-width:767px){
            max-width: 73%;
        }
        @media only screen and (max-width:480px){
            max-width: 80%;
            font-size: 36px;
        }
        @media only screen and (max-width:480px){
            max-width: 100%;
            font-size: 36px;
        }
    }
    .custom-container{
        width: 95%;
        margin: 55px auto 0;
        @media only screen and (max-width:767px){
            width: 80%;
        }
        @media only screen and (max-width:480px){
            width: 90%;
        }
    }
    .hic-grid-container{
        box-shadow: 0px 5px 9px #cfcfcf;
        padding: 50px;
        width: 97%;
        margin: 0 auto;
        border-radius: 10px;
        @media only screen and (max-width:991px){
            padding: 50px 15px;
            width: 100%;
        }
        .hic-grid-heading{
            @extend .section-medium-title;
            color: #32455f;
        }
        ul.dashed{
            list-style-type: none;
            padding-left: 0;
            li{
                text-indent: -5px;
                color: #32455f;
                font-size: 16px;
                font-family: 'Bitter', serif;
                // font-family: 'Raleway', sans-serif;
                font-weight: 700;
                letter-spacing: 1.2px;
                word-spacing: 1px;
                margin-bottom: 8px;
                &:before {
                    content: "-";
                    text-indent: -5px;
                    margin-right: 10px;
                }
            }
        }
        .divider{
            margin: 30px 0;
        }
        .info{
            .author,.date{
                font-family: 'Bebas Neue', cursive;
                font-weight: 400;
                @extend .section-medium-title;
                color: #32455f;
                margin-bottom: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
            }
            .date{
                margin-bottom: 5px;
            }
            .time{
                font-family: 'Bebas Neue', cursive;
                font-weight: 400;
                color: #32455f;
                font-size: 18px;
                margin-bottom: 3px;
            }
            .dots-number-wrapper{
                display: flex;
                span{
                    font-family: 'Raleway', sans-serif;
                    font-weight: 700;
                    color: #32455f;
                }
            }
            ul{
                display: flex;
                padding-left: 22px;
                margin-bottom: 0;
                line-height: 1;
                li{
                    color: #32455f;
                    margin-right: 15px;
                    font-size: 25px;
                    &.non-active{
                        list-style-type: circle;
                    }
                }
            }
        }
    }
}
// saepe-section end
// incident-section start
.incident-section{
    background: linear-gradient(rgba(65, 128, 150, 0.75), rgba(65, 128, 150, 0.75)),url('../images/boyCandid.jpg');
    padding: 100px 0;
    background-size: cover !important;
    @media only screen and(max-width:991px){
        background-position: -230% 100% !important;
    }
    @media only screen and (max-width:767px){
        background-position: -170% 100% !important;
    }
    .incident-section-heading{
        @extend .section-large-title;
        color: $white;
        line-height: 1.1;
        word-spacing: 10px;
        position: relative;
        &::before{
            position: absolute;
            content: '';
            background-image: url(../images/Shape.png);
            height: 26px;
            width: 26px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            top: -25px;
            right: -5px;
            transform: rotate(180deg);
            
        }
    }
    .incident-section-information{
        position: relative;
        &::before{
            position: absolute;
            content: '';
            background-image: url('../images/Shape.png');
            height: 26px;
            width: 26px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            left: -20px;
            bottom: -5px;
            @media only screen and (max-width:575px){
                left: -10px;
                bottom: 5px;
            }
        }
    }
    .incident-section-information,
    .incident-section-date{
        @extend .cross-section
    }
    .incident-section-date{
        &::after{
            position: absolute;
            content: '';
            height: 8px;
            width: 80px;
            background-color: $white;
            bottom: -22px;
            right: 0;
        }
    }
    .see-more{
        margin-top: 45px;
        letter-spacing: 3px;
        word-spacing: 3px;
        padding: 7px 31px;
        line-height: normal;
        color: #32455f;
    }
    .incident-section-right-grid{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: end;
    }
}
// incident-section end
// odio-section start
.odio-section{
    padding: 80px 0 285px;
    background-position: 0 100%;
    background-size: cover;
    background-repeat: no-repeat;
    // background-position-y:center;
    @media only screen and (max-width:1199px){
        padding: 80px 0 200px;
    }
    @media only screen and (max-width:991px){
        background-position: 50% 100%;
    }
    .odio-section-heading{
        @extend .medium-heading;
        font-family: 'Bebas Neue', cursive;
        font-weight: 400;
        letter-spacing: 4px;
        line-height: 1.2;
        color: #030303;
        word-spacing: 100vw;
        position: relative;
        
        &::before{
            position: absolute;
            content: '';
            background-image: url('../images/Shape.png');
            height: 26px;
            width: 26px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            left: -20px;
            bottom: -5px;
            @media only screen and (max-width:575px){
                left: -10px;
                bottom: 5px;
            }
        }
        &::after{
            position: absolute;
            content: '';
            background-image: url('../images/Shape.png');
            height: 26px;
            width: 26px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            left: 100px;
            top: -10px;
            transform: rotate(180deg);
        }
    }
    .odio-section-subheading{
        @extend .section-medium-title;
    }
    .odio-section-information{
        font-family: 'Bitter', serif;
        font-size: 18px;
        color: #050505;
        font-weight: 400;
        letter-spacing: 2px;
        word-spacing: 3px;
        line-height: 1.7;
        margin-bottom: 24px;
    }
    .justify-content-sm-end{
        .cross{
            position: absolute;
            transform: translate(-50%,-50%);
            top:30% !important;
            display: flex;
            flex-direction: column;
            right: -25px;
            @media only screen and (max-width:575px){
                display: none;
            }
            &::before{
                content: 'X';
                font-size: 10px !important;
                margin-bottom: 3px;
            }
            &::after{
                content: 'X';
                font-size: 10px !important;
                margin-top: 3px;
            }
        }
    }
    .odio-small-info{
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        color: #32455f;
        letter-spacing: 2px;
        font-size: 20px;
        word-spacing: 3px;
        margin-top: 24px;
    }
    .date-time{
        position: relative;
        &::before{
            position: absolute;
            content: '';
            background-image: url(../images/Shape.png);
            height: 26px;
            width: 26px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            left: -20px;
            bottom: -5px;
            @media only screen and (max-width:575px){
                left: -10px;
                bottom: 15px;
            }
        }
        .date,.time{
            font-family: 'Bebas Neue', cursive;
            font-weight: 400;
            color: #32455f;
        }
        .date{
            font-size: 25px;
            margin-bottom: 4px;
        }
        .time{
            font-size: 20px;
        }
    }
    .price{
        margin-left: 40px;
        p{
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            line-height: normal;
            color: #32455f;
            letter-spacing: 2px;
            font-size: 20px;
            word-spacing: 3px;
            margin-bottom: 0;
        }
    }
}
// odio-section end
// exercitation-section start
.exercitation-section{
    background: linear-gradient(rgba(65, 128, 150, 0.75), rgba(65, 128, 150, 0.75)),url('../images/binacularGirl.jpg');
    padding: 100px 0;
    .exercitation-section-left-grid{
        align-self: flex-end;
        .exercitation-section-date{
            &::after{
                position: absolute;
                content: '';
                height: 8px;
                width: 80px;
                background-color: $white;
                bottom: -22px;
                left: 0;
            }
        }
        .see-more{
            margin-top: 45px;
            letter-spacing: 3px;
            word-spacing: 3px;
            padding: 7px 31px;
            line-height: normal;
            color: #32455f;
        }
    }
    .exercitation-section-right-grid{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: end;
        .exercitation-section-heading{
            @extend .section-large-title;
            color: $white;
            line-height: 1.1;
            word-spacing: 10px;
            text-align: right;
            position: relative;
            
        }

    }
    .exercitation-section-information,
    .exercitation-section-date{
        @extend .cross-section;
    }
    .exercitation-section-information{
        position: relative;
        &::before{
            position: absolute;
            content: '';
            background-image: url(../images/Shape.png);
            height: 26px;
            width: 26px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            left: -20px;
            bottom: -5px;
        }
        @media only screen and (max-width:991px){
            text-align: right;
        }
    }
}
// exercitation-section end
// dolors section start
.dolors-sections{
    padding: 100px 0;
    background-color: #fbfbf5;
    .cross{
        position: absolute;
        transform: translate(-50%,-50%);
        top:75%;
        display: flex;
        flex-direction: column;
        right: -15px;
        &::before{
            content: 'X';
            font-size: 25px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        &::after{
            content: 'X';
            font-size: 25px;
            font-weight: bold;
            margin-top: 10px;
        }
    }
    .dolors-sections-heading{
        @extend .medium-heading;
        font-family: 'Bebas Neue', cursive;
        font-weight: 400;
        letter-spacing: 4px;
        color: #050505;
        white-space: pre-line;
        position: relative;
        margin-bottom: 50px;
        &::after{
            position: absolute;
            content: '';
            width: 100px;
            height: 8px;
            background-color: #070707;
            bottom: -15px;
            left: 0;
        }
        .cross{
            position: absolute;
            transform: translate(-50%,-50%);
            top:50% !important;
            display: flex;
            flex-direction: column;
            left: -25px !important;
            right: unset;
            &::before{
                content: 'X';
                font-size: 32px !important;
                margin-bottom: 10px;
            }
            &::after{
                content: 'X';
                font-size: 32px !important;
                margin-top: 10px;
            }
        }
    }
    .row{
        
    }
    .dolors-sections-grid{
        padding: 0 30px;
        @media only screen and (max-width:991px){
            padding: 0;
        }
    }
    .dolors-grid-img-wrapper{
        text-align: center;
    }
    .dolors-grid-heading{
        @extend .section-medium-title;
        font-size: 30px;
        color: #010101;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    .dolors-grid-information{
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        font-weight: 700;
        color: #010101;
        word-spacing: 3px;
        letter-spacing: 1px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        margin-bottom: 0;
    }
    .see-more-contaier{
        text-align: center;
        margin-top: 30px;
        .see-more{
            background-color: #075a76;
            color: $white;
            padding: 6px 28px;
            line-height: normal;
            letter-spacing: 2px;
        }
    }
    .divider{
        margin-top: 90px;
    }
}
// dolors section end
// amet section start
.amet-section{
    padding: 0 0 300px;
    background-position: 0 90%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    // background-position-y:center;
    @media only screen and (max-width:1199px){
        padding: 0 0 200px;
    }
    .amet-section-heading{
        @extend .medium-heading;
        font-family: 'Bebas Neue', cursive;
        font-weight: 400;
        letter-spacing: 4px;
        line-height: 1.2;
        color: #030303;
        word-spacing: 100vw;
        position: relative;
        &::before{
            position: absolute;
            content: '';
            background-image: url(../images/Shape.png);
            height: 26px;
            width: 26px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            left: -20px;
            bottom: -5px;
            @media only screen and (max-width:575px){
                left: -10px;
                bottom: 5px;
            }
        }
        .cross{
            position: absolute;
            transform: translate(-50%,-50%);
            top:50%;
            display: flex;
            flex-direction: column;
            right: 0;
            &::before{
                content: 'X';
                font-size: 12px;
                margin-bottom: 10px;
            }
            &::after{
                content: 'X';
                font-size: 12px;
                margin-top: 10px;
            }
        }
    }
    .amet-section-subheading{
        @extend .section-medium-title;
    }
    .amet-section-information{
        font-family: 'Bitter', serif;
        font-size: 18px;
        color: #050505;
        font-weight: 400;
        letter-spacing: 2px;
        word-spacing: 3px;
        line-height: 1.7;
        margin-bottom: 24px;
    }
    .amet-small-info{
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        color: #32455f;
        letter-spacing: 2px;
        font-size: 20px;
        word-spacing: 3px;
        margin-top: 24px;
    }
    .date-time{
        .date,.time{
            font-family: 'Bebas Neue', cursive;
            font-weight: 400;
            color: #32455f;
        }
        .date{
            font-size: 25px;
            margin-bottom: 4px;
        }
        .time{
            font-size: 20px;
        }
    }
    .price{
        margin-left: 40px;
        p{
            font-family: 'Raleway', sans-serif;
            font-weight: 700;
            line-height: normal;
            color: #32455f;
            letter-spacing: 2px;
            font-size: 20px;
            word-spacing: 3px;
            margin-bottom: 0;
        }
    }
}
// amet section end
// corporis-section start
.corporis-section{
    padding: 105px 0;
    background-color: #fbfbf5;
    .corporis-section-heading{
        @extend .medium-heading;
        font-family: 'Bebas Neue', cursive;
        font-weight: 400;
        letter-spacing: 4px;
        color: #050505;
        white-space: pre-line;
        position: relative;
        &::before{
            position: absolute;
            content: '';
            background-image: url(../images/Shape.png);
            height: 26px;
            width: 26px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            left: -20px;
            bottom: -5px;
        }
    }
    .custom-grid-container{
        max-width: 85%;
        margin: 50px auto 0;
        @media only screen and (max-width:991px){
            max-width: 100%;
        }
        .corporis-grid-wrapper{
            padding: 0 20px;
            @media only screen and (max-width:991px){
                padding: 0;
            }
            .corporis-img-wrapper{
                @media only screen and (max-width:767px){
                    text-align: center;
                }
                img{
                    height: 260px;
                    width: 260px;
                    border-radius: 50%;
                    @media only screen and (max-width:1199px){
                        height: 200px;
                        width: 200px;
                    }
                }
            }
            .corporis-grid-content{
                ul{
                    display: flex;
                    flex-direction: column;
                    li{
                        height: 7px;
                        color: #80788c;
                    }
                }
                .inner-container{
                    max-width: 90%;
                    margin: 0 auto;
                    .corporis-grid-heading{
                        @extend .section-medium-title;
                        font-size: 30px;
                        color: #010101;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                    }
                    .corporis-grid-description{
                        font-family: 'Raleway', sans-serif;
                        font-size: 15px;
                        font-weight: 700;
                        color: #010101;
                        word-spacing: 3px;
                        letter-spacing: 1px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                    .divider{
                        margin-bottom: 1rem;
                    }
                    .location{
                        font-family: 'Raleway', sans-serif;
                        font-weight: 700;
                        line-height: normal;
                        color: #32455f;
                        letter-spacing: 2px;
                        font-size: 20px;
                        word-spacing: 3px;
                        margin-bottom: 0;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                    }
                }
            }
        }
        .see-more-container{
            text-align: center;
            margin-top: 70px;
            .see-more{
                background-color: #075a76;
                color: $white;
                padding: 6px 28px;
                line-height: normal;
                letter-spacing: 2px;
            }
        }
    }
}
// corporis-section end
// vero-section start
.vero-section{
    padding: 115px 0;
    .vero-section-heading{
        font-family: 'Bebas Neue', cursive;
        font-weight: 400;
        color: #fbfbf5;
        font-size: 47px;
        letter-spacing: 3px;
        word-spacing: 3px;
        position: relative;
        &::after{
            position: absolute;
            content: '';
            width: 100px;
            height: 8px;
            background-color: #fbfbf5;
            bottom: -15px;
            left: 0;
        }
        @media only screen and (max-width:375px){
            font-size: 38px;
        }
    }
    .vero-date{
        font-family: 'Bebas Neue', cursive;
        font-weight: 400;
        color: #fbfbf5;
        font-size: 55px;
        letter-spacing: 3px;
        word-spacing: 3px;
        margin-top: 45px;
    }
    .off{
        font-size: 100px;
        font-family: 'Bebas Neue', cursive;
        font-weight: 400;
        color: #fbfbf5;
        letter-spacing: 3px;
        word-spacing: 3px;
        line-height: .9;
        &-text{
            font-size: 35px;
        }
    }
    .vero-info{
        font-size: 28px;
        font-family: 'Bebas Neue', cursive;
        font-weight: 400;
        color: #fbfbf5;
        letter-spacing: 3px;
        word-spacing: 3px;
        line-height: normal;
    }
    .vero-off-date{
        font-size: 20px;
        font-family: 'Bebas Neue', cursive;
        font-weight: 400;
        color: #fbfbf5;
        letter-spacing: 3px;
        word-spacing: 3px;
    }
}
// vero-section end
// alique-section start
.alique-section{
    padding: 120px 0 90px;
    background-repeat: no-repeat;
    background:linear-gradient(rgba(65, 128, 150, 0.75), rgba(65, 128, 150, 0.75)),url('../images/mountains.jpg') ;
    background-size: cover !important;
    background-position: center;
    @media only screen and (max-width:991px){
        background-position: -142% 100%;
    }
    .col-lg-8{
        margin: 0 auto;

    }
    .alique-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .alique-section-text{
        font-family: 'Bebas Neue', cursive;
        font-weight: 400;
        color: #fbfbf5;
        font-size: 36px;
        letter-spacing: 3px;
        word-spacing: 3px;
        padding: 0 70px 50px;
        @media only screen and (max-width:639px){
            padding: 0 0 50px;
        }
        @media only screen and (max-width:380px){
            font-size: 30px;
        }
    }
    .img-container{
        margin-bottom: 35px;
    }
    .see-more{
        background-color: $white;
        padding: 6px 28px;
        line-height: normal;
        letter-spacing: 2px;
        color:  #5f6551;
    }
}
// alique-section end
// Footer start
.footer{
    padding: 100px 0 85px;
    background-color: #fbfbf5;
    .footer-section-heading{
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 25px;
        color: #5f6551;
    }
    .footer-logo{
        margin-top: 40px;
    }
    .footer-section-subheading{
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 22px;
        color: #5f6551;
        margin-bottom: 25px;
    }
    .footer-small-text{
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 700;
        color: #5f6551;
        letter-spacing: 1px;
        word-spacing: 3px;
    }
    ul{
        list-style: none;
        padding-left: 0;
        li{
            a{
                font-family: 'Raleway', sans-serif;
                font-size: 18px;
                font-weight: 400;
                letter-spacing: 1px;
                color: #5f6551;
                word-spacing: 3px;
                text-decoration: none;
                cursor: pointer;
                &:hover{
                    font-weight: 700;
                }
            }
        }
    }
}
// footer end
.empty-section{
    background-color: #5f6551;
    height: 20px;
    width: 100%;
}